**/*.log
node_modules
tmp
lib
.DS_Store
.idea
db.json
fetch('https://jsonplaceholder.typicode.com/todos/1')
  .then(response => response.json())
  .then(json => console.log(json))
  {
	"userId": 1,
	"id": 1,
	"title": "delectus aut autem",
	"completed": false
}
get_one.py
get_one.json
